<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
  <link rel="stylesheet" href="albums.css" />
</head>
<body>
<h1 class="title">
  Ihre besten Alben
</h1>
<form action="#" th:action="@{/addAlbum}" method="post">

  <p>Artist </p><input type="text" name="Artist"/></br>

  <p>Title</p><input type="text" name="Title"/></br>
  <p>Number of Songs</p><input type="text" name="songCount"/></br>
  <p>length</p><input type="text" name="length"/></br>
  <p>IMG</p><input type="text" name="imageUrl"/></br>


  <button type="submit">Submit Your Choess</button>

</form>
</div>
<main>
  <div th:each=" album : ${Albums}" class="albums">
    <p> Artist  : <span th:text ="${album.artist }"></span></p>
    <p> Title : <span th:text ="${album.title}"></span></p>
      <p> Number of Songs : <span th:text ="${album.songCount}"></span></p>
      <p> Length  : <span th:text ="${album.length }"></span></p>
    <img th:src="${album.imageUrl}" />
  </div>
</main>

</body>
</html>